* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  max-width: 1000px;
  margin: auto;
  background-color: #0378a6;
}
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

header {
  grid-area: header;
  width: 100%;
}

.edit-section-header {
  text-align: center;
}

aside {
  grid-area: sidebar;
  background-color: #44c1f2;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
}

.panels {
  grid-area: content;
  background-color: #f2edeb;
  border-radius: 10px;
  padding-left: 20px;
  -webkit-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 0.75);
}

footer {
  grid-area: footer;
}

input[type="text"],
select {
  width: 90%;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

label {
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #0378a6;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3dd1f2;
}

.edit-section {
  background-color: #44c1f2;
  padding-left: 10px;
  border-radius: 10px;
}

.info-list {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: #44c1f2;
}

a:visited,
a:hover {
  color: #3dd1f2;
}

footer {
  margin-bottom: 5px;
}
