<div class="container">
  <header>
    <h1>John Doe</h1>
  </header>
  <div class="panels">
    <section>
      <h1>General info</h1>
      <ul class="info-list">
        <li>James Jones</li>
        <li>joes@example.com</li>
        <li>+1 111 222 333</li>
      </ul>
    </section>
    <section>
      <h1>Work experience</h1>
      <ul class="info-list">
        <li><b>1Digital Ltd.</b></li>
        <li>2020 - 2023</li>
        <li>Software Engineer</li>
        <li>Work on some interesting stuff</li>
      </ul>
    </section>
    <section>
      <h1>Education</h1>
      <ul class="info-list">
        <li><b>Stanford University</b></li>
        <li>2010 - 2014</li>
        <li>Computer Science</li>
      </ul>
    </section>
  </div>
  <aside>
    <div class="edit-container">
      <section class="edit-section">
        <div>
          <h2>General info</h2>
        </div>
        <form>
          <label>
            First name:
            <input type="text" />
          </label>
          <br />
          <label>
            Last name:
            <input type="text" />
          </label>
          <br />
          <label>
            Phone:
            <input type="text" />
          </label>
          <br />
          <label>
            Email:
            <input type="text" />
          </label>
          <br />
          <input type="submit" value="Edit" />
        </form>
      </section>
      <section class="edit-section">
        <div>
          <h2>Work experience</h2>
        </div>
        <form>
          <label>
            Company name:
            <input type="text" />
          </label>
          <br />
          <label>
            Job Title:
            <input type="text" />
          </label>
          <br />
          <label>
            Responsibilities:
            <input type="text" />
          </label>
          <br />
          <label>
            Start date:
            <input type="text" />
          </label>
          <br />
          <label>
            End date:
            <input type="text" />
          </label>
          <br />
          <input type="submit" value="Edit" />
        </form>
      </section>

      <section class="edit-section">
        <div>
          <h2>Education</h2>
        </div>
        <form>
          <label>
            University name:
            <input type="text" />
          </label>
          <br />
          <label>
            Degree:
            <input type="text" />
          </label>
          <br />
          <label>
            Start date:
            <input type="text" />
          </label>
          <br />
          <label>
            End date:
            <input type="text" />
          </label>
          <br />
          <input type="submit" value="Edit" />
        </form>
      </section>
    </div>
  </aside>
  <footer></footer>
</div>
